*{
    margin: 0px auto;
    padding: 0px auto;
}
body
{
    background-image: url(../pic/69b47d331f6a4174c34e33bccd00f6f6.jpg);
    background-size: cover;
    justify-content: center;
}
.head
{
    width: 98%;
    height: 15%;
    padding: 1%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}
.head div
{
    display: flex;
    width: 80%;
}
.head img
{
    display: flex;
    width: 6%;
    height: 6%;
}
.menu
{
    display: flex;
    width: 80%;
}
.menu li
{
    padding-top: 2%;
    font-size:x-large;
    font-weight: 600;
    font-family:cursive;
    width: 20%;
    display: inline-block;
}
.menu button
{
    background-color: transparent;
    border: none;
    color: black;
    text-decoration: none;
}

.headbu:hover
{
    -moz-transform: scale(1.4) rotate(360deg);
    -webkit-transform: scale(1.4) rotate(360deg);
    -o-transform: scale(1.4) rotate(360deg);
    -ms-transform: scale(1.4) rotate(360deg);
    transform: scale(1.4) rotate(360deg);
    cursor: pointer;
    font-weight: bolder;
    transition-duration: 1.8s;
}

.con1
{
    text-align: center;
    margin-top: 5%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
}

.di1v1 img
{
    width: 40%;
    height: 40%;
    padding:2%;
    float: left;
}


.di1v2 span
{
    padding: 1%;
    font-size:250%;
    font-weight: bolder;
}

.di1v2
{
    padding-top: 5%;
}
.di1v3
{
    padding: 2%;
    text-align: center;
}
.p1
{
    font-size: larger;
    font-weight: bold;
    margin: 1%;
}
.p2
{
    word-spacing: 5px;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 3%;
}

.con2
{
    width: 80%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}
.con2 h1 ,.con3 h1
{
    display: inline-block;
    padding: 4%;
    font-size:280%;
    font-weight: 600;
    font-family:cursive;
}
.con2 ul li
{
    margin: 1%;
    border-radius: 20px;
    display: inline-block;
}

.flipcard
{
    background-color: transparent;
    width: 300px;
    height: 250px;
    text-align: center;
    perspective: 1000px;
}
.frontcard img
{
    border-radius: 20px;
    width: 300px;
    height: 250px; 
}
.innercard
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flipcard:hover .innercard
{
    transform:rotateY(180deg);
    transition: transform 0.5s;
    cursor: pointer;
}
.frontcard ,.backcard
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.backcard
{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    transform: rotatey(180deg);
    transition-duration: 1.2s;
    padding:2%;
}

.backcard h4
{
    font-family:cursive;
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: orange;
}
.backcard p
{
    color: purple;
    font-family:cursive;
    margin-top: 5%;
    font-size:120%;
}
.backcard span
{
    position: absolute;
    top: 80%;
    font-family:cursive;
    color:red;
}

.con3
{
    margin-top: 5%;
    width:80%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}


.picbook
{
    display: block;
    text-align: center;
}
.picbook span
{
    margin: 1%;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border: 2px transparent;
    border-radius: 20px;
    background-color: wheat;
}
.con3 img
{
    width: 100%;
    height: 200px;
    border-radius: 2%;
    margin-bottom: 2%;
}
.con3 ul
{
    text-align: center;
    width:80%;
    padding: 2%;
    display: table;
}
.con3 li
{
    background-color: whitesmoke;
    display: inline-block;
    margin: 1%;
    width: 30%;
    height: 310px;
    border: 0.5px solid black;
    border-radius: 2%;
}

.con3 h3
{
    margin: 3%;
    font-family:cursive;
}
.titbook
{
    position: relative;
}
.titbook span
{
    position: absolute;
    left: 80%;
    top: 120%;
}

.titbook span:hover
{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.con3 li:hover
{
    transition-duration: 1.5s;
    -webkit-transform: rotateX(360deg) rotateY(0deg);
    -moz-transform: rotateX(360deg) rotateY(0deg);
    -ms-transform: rotateX(360deg) rotateY(0deg);
    -o-transform: rotateX(360deg) rotateY(0deg);
    transform:  rotateX(360deg) rotateY(0deg);
}

footer
{
    position: relative;
    margin-top: 4%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 300px;
    display: inline-block;
    padding-bottom: 2%;
}

.sec1 ,.sec2
{
    float: left;
}
.sec1
{
    width: 25%;
    margin: 2% 10% 10% 3%;
}
.sec2
{
    width: 25%;
    margin: 2% 2% 5% 15%;
    padding-left: 5%;
}
.sec1 h2
{
    color: cadetblue;
    margin: 3%;
}

.sec2 h2
{
    color: purple;
    margin: 3%;
}

.sec1 li,.sec2 li
{
    margin: 1%;
    color: black;
    display: block;
}

.sec1 li:hover ,.sec2 li:hover
{
    cursor: pointer;
    text-decoration: underline;
}

footer h3
{
    color: black;
    position: absolute;
    top: 90%;
    left: 45%;
}